.container {
	padding: 0 10rem;
}

.center {
	text-align: center;
}

.view {
	min-height: calc(100vh - 13rem);
}

.bold {
	font-weight: 500;
}

.info {
	font-size: 1.4rem;
	font-style: italic;
}

.error {
	color: $error-color;
	font-size: 1.4rem;
}
